/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --body-bg-image: url(../images/cover-image-dark.png);
  --body-bg-color: #000028;
  --main-text-color: #ff0070;
  --header-title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --paragraph-text-color: #f1b2ce;
  --button-hover-effect: 1px solid rgba(255, 0, 112, 0.4);
}
