/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-image: url(../images/cover-image-dark.png);
    --body-bg-color: #000028;
    --main-text-color: #ff0070;
    --header-title-color: #db00ff;
    --accent-color: #ff0070;
    --accent-text-color: #000028;
    --paragraph-text-color: #f1b2ce;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --body-bg-image: url(../images/cover-image-light.png);
    --body-bg-color: #000028;
    --main-text-color: #353430;
    --header-title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --paragraph-text-color: #353430;
  }
}
